<#@ template language="C#" #>

<#+
	private void DeserializeInt(string propertyName)
	{
#>
		result.<#=propertyName#> = parseInt(node.getElementsByTagName("<#=propertyName#>")[0].textContent);
<#+
	}
#>
